@import "reset";



:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --gray-color: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);
}
*,
::before,
:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}
.main-container {
  max-width: 80%;
  margin: 0 auto;
}
section {
  padding: 100px 0;
}
header {
  position: relative;
  height: 90vh;
  background-image: url(../img/image-hero.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
nav #nav-item {
  list-style: none;
}
nav #nav-item .nav-list-item {
  display: inline-block;
  padding: 0 15px;
}
#nav-item li {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  /* background: #000; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#hamburger {
  display: none;
  cursor: pointer;
}
#nav-item li:hover a::after {
  position: absolute;
  content: "";
  /* top: 0; */
  right: 0;
  left: 25px;
  bottom: -7px;
  height: 3px;
  width: 30px;
  background: var(--white-color);
}
.mobile-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--white-color);
  /* height: 100vh; */
  /* width: 100%; */
  padding: 50px 50px 0px 30px;
  transform: translateX(1200px);
  width: 0;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  visibility: hidden;
  z-index: 1000;
  visibility: hidden;
}
.mobile-nav.active {
  width: 100%;
  visibility: visible;
  transform: translateX(0);
}
#mobile-nav-item {
  position: absolute;
  top: 200px;
}
#mobile-nav-item {
  list-style: none;
}
#mobile-nav-item li {
  padding: 15px 0;
  font-size: 2rem;
  cursor: pointer;
  font-weight: lighter;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#mobile-nav-item li:hover {
  margin-left: 20px;
}
#big_title {
  position: absolute;
  top: 35%;
  border: 2px solid var(--white-color);
  padding: 20px 80px 20px 40px;
}
#big_title h1 {
  font-weight: lighter;
  color: var(--white-color);
  font-size: 3.3rem;
  text-transform: uppercase;
  line-height: 57px;
  letter-spacing: 4px;
}
#about-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: minmax(400px, auto); */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin: 0 auto; */
}

#about-details {
  align-self: flex-end;
  margin-left: -100px;
  /* width: 50%; */
  padding: 70px 100px 20px 100px;
  background: var(--white-color);
  color: var(--gray-color);
  /* height: 400px; */
  /* background: red; */
}

#about-details h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 10px;
}

#image-div {
  background-image: url(./images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
#about-div img {
  height: 100%;
  width: 100%;
}
#our-creation-header {
  /* background: #000; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#our-creation-header h1 {
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
}
#our-creation-header button {
  padding: 0 20px;
  text-transform: uppercase;
  background: none;
  border: 2px solid var(--dark-gray);
  color: var(--gray-color);
  letter-spacing: 3px;
  cursor: pointer;
}
#our-creation-header button:hover {
  background-color: var(--black-color);
}
#our-creation-body {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px 350px;
  grid-gap: 20px;
}
#our-creation-body .image-box {
  height: 260px;
}
#our-creation-body img {
  width: 100%;
  /* height: 100%; */
}
.img-box {
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
  cursor: pointer;
  align-items: flex-end;
}
.overlay-div {
  /* position: fixed; */
  display: flex;
  align-items: flex-end;
  padding: 0 30px 40px 20px;
  height: 100%;
  overflow: hidden;
  /* z-index: 1; */
}
.img-box:hover .overlay-div {
  background: rgba(209, 209, 209, 0.76);
}
.overlay-content {
  position: relative;
  transition: 0.3s ease-in-out;
  /* transform: translateY(700px); */
  color: var(--white-color);
  overflow: hidden;
  z-index: 1;
}
.overlay-content h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box-1 {
  background-image: url(../img/image-deep-earth.jpg);
}
.box-2 {
  background-image: url(../img/image-night-arcade.jpg);
}
.box-3 {
  background-image: url(../img/image-soccer-team.jpg);
}
.box-4 {
  background-image: url(../img/image-grid.jpg);
}
.box-5 {
  background-image: url(../img/image-from-above.jpg);
}
.box-6 {
  background-image: url(../img/image-pocket-borealis.jpg);
}
.box-7 {
  background-image: url(../img/image-curiosity.jpg);
}
.box-8 {
  background-image: url(../img/image-fisheye.jpg);
}
footer {
  background: var(--black-color);
  padding: 50px 0;
  color: var(--white-color);
}
#footer-div {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 15px;
  /* grid-template-columns: 1fr, 1fr; */
}
#footer-social-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  /* grid-gap: 50px; */
  justify-content: space-between;
}
#nav-footer-social-links ul li a {
  position: relative;
}
#nav-footer-social-links {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  height: 70px;
  /* grid-template-rows: 50px; */
  /* grid-gap: 50px; */
  justify-content: space-between;
  /* flex-direction: column; */
}
#nav-footer-social-links ul li {
  /* position: relative; */
  display: inline-block;
  padding: 0 10px;
}
#nav-footer-social-links ul li:hover a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0px;
  height: 5px;
  width: 20px;
  border-bottom: 2px solid white;
}
#nav-footer-social-links ul li img {
  height: 20px;
}
#footer-nav-item .nav-list-item {
  display: inline-block;
}
#footer-nav-item :not(:first-child) {
  padding: 0 15px;
}
#footer-nav-item li {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  /* background: #000; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#footer-div nav {
  padding: 0;
}
#footer-nav-item li:hover a::after {
  position: absolute;
  content: "";
  /* top: 0; */
  right: 0;
  left: 25px;
  bottom: -7px;
  height: 3px;
  width: 30px;
  background: var(--white-color);
}
@media screen and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
  #our-creation-body {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px 350px;
    grid-gap: 10px;
  }
  #logo {
    background: #000;
    height: 20px;
  }
  #nav-item {
    display: none;
  }
  #about-div {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: minmax(400px, auto); */
    margin-left: 0 !important;
  }
  #hamburger {
    display: block;
  }
  .mobile-nav {
    visibility: visible;
  }
  #about-details {
    margin-top: 100px;
    margin-bottom: 0;
    padding: 10px 50px 20px 20px;
  }
  section {
    padding: 10px 0;
  }
  #about-details h1 {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 760px) {
  .main-container {
    max-width: 90%;
    margin: 0 auto;
  }
  header {
    position: relative;
    height: 90vh;
    background-image: url(../img/mobile/image-hero.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
  }
  #big_title {
    position: absolute;
    top: 35%;
    border: 2px solid var(--white-color);
    padding: 20px 30px 20px 40px;
  }
  #big_title h1 {
    font-weight: lighter;
    color: var(--white-color);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 57px;
    letter-spacing: 4px;
  }
  #our-creation-header h1 {
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: uppercase;
  }
  #our-creation-header button {
    padding: 5px 15px;
    text-transform: uppercase;
    background: none;
    border: 2px solid var(--dark-gray);
    color: var(--gray-color);
    letter-spacing: 3px;
    cursor: pointer;
  }
  #our-creation-body {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr;
    /* height: 200px; */
    grid-template-columns: 200px, 200px, minmax(350px, auto);
    /* grid-template-rows: 350px 350px 350px; */
    grid-gap: 10px;
  }
  /* #footer-social-links {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  #footer-social-links ul li {
    position: relative;
    display: block;
    padding: 0 10px;
  }
  #footer-nav-item li {
    display: inline-block;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* height: 300px; */
    /* margin-bottom: 15px; */
    /* grid-template-columns: 1fr, 1fr; */
  }
  #nav-footer-social-links {
    /* display: flex; */
    /* flex-direction: column; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 50px; */
    /* grid-gap: 50px; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
  }

  #footer-social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:green;
    // margin: 100px;
    // height: 100px;
  }
  #footer-social-links nav ul li {
    text-align: center;
    display: block !important;
  }
  .nav-list-item {
    padding: 20px 0;
  }
}
